/*start **************** Global Variable */
$z-index-top-max:10000;
$z-index-top:1000;
$z-index-center-max:500;
$z-index-center:250;
$z-index-bottom-max:125;
$z-index-Boundary:0;
$z-index-bottom:-75;
$z-index-down:-25;

$main-width-labNarbar : 64%; 
$main-width-labNar : 64%; 
$main-min-width :1100px;
/*end **************** Global Variable */

$moudle-margin-top:35px; 


$navbar-padding:5px; 
$navbar-height:70px;




.navbar-top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: $z-index-center-max;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

/* jquery cal it  */
.navbar-top + div{
    margin-top: $navbar-height;
}

.navbar{
    padding: $navbar-padding;
    height: $navbar-height;
    background-color:RGB(241,242,244);
    border-bottom-color: gainsboro;
    border-block-end-style: solid;
    border-block-end-width: 1px;
    
    .navbar-content{
        padding-top: 0px;
        width: $main-width-labNar;
        min-width: $main-min-width;
        margin: 0 auto;
        display:-webkit-flex;
        display:flex;
        flex-direction: row;
        .navbar-logo{
            /*坐标轴 logo 样式*/
            height:$navbar-height;
            line-height: $navbar-height;
            flex-grow: 1;
            flex-shrink: 1; 
            flex-basis: $main-min-width * 0.25;            

            .logo-font{
                /*logo 文字样式 */
                font-size: 24px;
                font-weight: 600;
                padding-left: 15px;
                display: inline-block;
                vertical-align: bottom; 
            }
        }  
        .navbar-nav{
            height: $navbar-height;
            flex-grow: 3;
            flex-shrink: 3;
            flex-basis: $main-min-width * 0.75;
            .navbar-nav-list{
                float: right;
                margin-right: 15px;
                a{
                    display: inline-block;
                    height: $navbar-height;
                    line-height: $navbar-height;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: RGB(44,44,44);    
                    font-weight:500;  
                    font-size: 14px; 
                } 
            }    
        }
    } 
}
 
/* jumbotron  2018/9/20 Jx  kicker */
$jumbotron-height :420px;

.jumbotron{ 
    height:$jumbotron-height;
    width: 100%;
    background: linear-gradient(to right ,RGB(178,25,48), #333,RGB(59,35,35),RGB(80,6,6)) ;
    margin-bottom: 30px; 
 
    .title{      
        color: white;  
        font-weight: 300; 
        padding-top: 150px;
        text-align: center;
        small{
            font-size: 22px;
            letter-spacing: 2px;
        } 
    }
    .jumbotron-content{
        position: relative; 
        top: 0px; 
        z-index: 3;  
        text-align: center; 
        
        button,a{
            margin-top: 35px;
            width: 240px;
        } 
    }
}

.jumbotron::after{ 
    content: '';
    display: block;
    position: absolute; 
    top: $navbar-height;
    right: 0; 
    bottom: 0; 
    left: 0;
    background: url("../../Resources/Img/Grid.png")  repeat center center;
    opacity:0.4;
    z-index: $z-index-bottom-max; 
    height: $jumbotron-height;
}

.dotted-line{ 
    width: 100%;  
    border-bottom: 1px solid gainsboro;
    margin: 5px auto;   
}

.exam-notice{
   margin-top: $moudle-margin-top; 
   display: flex;
   display: -webkit-flex;

   img{ 
       width: 74px;
   } 
   figure{
       max-height: 230px; 
       overflow: hidden;
       img{
            display: block; 
            margin:0 auto; 
       }
   }
}  

.exam-notice>div{ 
    flex-grow:1;
    flex-shrink:1; 
    flex-basis: $main-min-width*0.25;  
}   