.bc-clr-grey-little{
    background-color: rgba(246,246,246,0.9);
}
.bc-clr-white{
    background-color: white;
}
.bc-clr-black{
    background-color:RGB(44,44,44);
}

.bc-clr-defalut{
    background-color: rgba(244,244,244,1);
}
.bc-clr-primary{
    background-color: rgba(48,115,172,1);
}
.bc-clr-success{
    background-color: rgba(88,178,88,1);
}
.bc-clr-info{
    background-color: rgba(87,190,221,1);
}
.bc-clr-warning{
    background-color: rgba(240,170,70,1);
}
.bc-clr-danger{
    background-color: rgba(211,73,69,1);
}
.bc-clr-grey-ali{
    background-color: rgba(234,237,241,1);
}
.bc-clr-black-web{
    background-color: RGB(54,54,54);
}
.border-thumali{ 
    border-radius: 10px;
    border: 1px solid rgba(38,38,38,.2);
    box-shadow: 0px 3px 6px 0px rgba(38,38,38,0.5);
}
$radius-gap:30;

@while $radius-gap > 0 {
    .border-radius-#{$radius-gap}{
        border-radius: $radius-gap + 0px;
    }
    $radius-gap : $radius-gap - 2;
}

.border-light-down{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.border-shadow-down{
    border: 1px solid rgba(38,38,38,.2);
    box-shadow: 0px 3px 6px 0px rgba(38,38,38,0.2);
}
.font-color-white{
    color:white;
} 
.font-color-black-153{
    color:RGB(153,153,153);
}
.font-color-black-217{
    color:RGB(217,217,217);
}
.font-color-golden{
    color: RGB(243,191,24);
}


$weight-max:700;
@while  $weight-max >= 100 {
    .font-weight-#{$weight-max}{
         font-weight:  $weight-max;
    }
    $weight-max: $weight-max - 100;
}

$font-size-gap:30;
@while  $font-size-gap>=10 {
    .font-size-#{$font-size-gap}{
         font-size:  $font-size-gap + 0px;
    }
    $font-size-gap: $font-size-gap - 1;
}

.icon-vertical{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.admin-user-title{
    padding: 5px;
    background-color:rgba(38,38,38,0.99);
    font-weight: 300;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    width: 70px;
}
.admin-user-content{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(38,38,38,0.5);
    display: inline-block;
    width: 200px;
}
.border-thumali{ 
    border-radius: 10px;
    border: 1px solid rgba(38,38,38,.2);
    box-shadow: 0px 3px 6px 0px rgba(38,38,38,0.5);
}

.info-warning{
    background-color: red;
    color: white;
    display: inline-block;
    margin-left: -15px;
    width: 15px;
    height:15px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}

.info-warning-green{
    background-color: RGB(0,243,0);
    color: white;
    display: inline-block;
    margin-left: -15px;
    width: 15px;
    height:15px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}