@charset "UTF-8";
.margin-top-85px {
  margin-top: 85px;
}

.margin-bottom-85px {
  margin-bottom: 85px;
}

.margin-left-85px {
  margin-left: 85px;
}

.margin-right-85px {
  margin-right: 85px;
}

.padding-top-85px {
  padding-top: 85px;
}

.padding-left-85px {
  padding-left: 85px;
}

.padding-right-85px {
  padding-right: 85px;
}

.padding-bottom-85px {
  padding-bottom: 85px;
}

.margin-85px {
  margin: 85px;
}

.padding-85px {
  padding: 85px;
}

.margin-top-80px {
  margin-top: 80px;
}

.margin-bottom-80px {
  margin-bottom: 80px;
}

.margin-left-80px {
  margin-left: 80px;
}

.margin-right-80px {
  margin-right: 80px;
}

.padding-top-80px {
  padding-top: 80px;
}

.padding-left-80px {
  padding-left: 80px;
}

.padding-right-80px {
  padding-right: 80px;
}

.padding-bottom-80px {
  padding-bottom: 80px;
}

.margin-80px {
  margin: 80px;
}

.padding-80px {
  padding: 80px;
}

.margin-top-75px {
  margin-top: 75px;
}

.margin-bottom-75px {
  margin-bottom: 75px;
}

.margin-left-75px {
  margin-left: 75px;
}

.margin-right-75px {
  margin-right: 75px;
}

.padding-top-75px {
  padding-top: 75px;
}

.padding-left-75px {
  padding-left: 75px;
}

.padding-right-75px {
  padding-right: 75px;
}

.padding-bottom-75px {
  padding-bottom: 75px;
}

.margin-75px {
  margin: 75px;
}

.padding-75px {
  padding: 75px;
}

.margin-top-70px {
  margin-top: 70px;
}

.margin-bottom-70px {
  margin-bottom: 70px;
}

.margin-left-70px {
  margin-left: 70px;
}

.margin-right-70px {
  margin-right: 70px;
}

.padding-top-70px {
  padding-top: 70px;
}

.padding-left-70px {
  padding-left: 70px;
}

.padding-right-70px {
  padding-right: 70px;
}

.padding-bottom-70px {
  padding-bottom: 70px;
}

.margin-70px {
  margin: 70px;
}

.padding-70px {
  padding: 70px;
}

.margin-top-65px {
  margin-top: 65px;
}

.margin-bottom-65px {
  margin-bottom: 65px;
}

.margin-left-65px {
  margin-left: 65px;
}

.margin-right-65px {
  margin-right: 65px;
}

.padding-top-65px {
  padding-top: 65px;
}

.padding-left-65px {
  padding-left: 65px;
}

.padding-right-65px {
  padding-right: 65px;
}

.padding-bottom-65px {
  padding-bottom: 65px;
}

.margin-65px {
  margin: 65px;
}

.padding-65px {
  padding: 65px;
}

.margin-top-60px {
  margin-top: 60px;
}

.margin-bottom-60px {
  margin-bottom: 60px;
}

.margin-left-60px {
  margin-left: 60px;
}

.margin-right-60px {
  margin-right: 60px;
}

.padding-top-60px {
  padding-top: 60px;
}

.padding-left-60px {
  padding-left: 60px;
}

.padding-right-60px {
  padding-right: 60px;
}

.padding-bottom-60px {
  padding-bottom: 60px;
}

.margin-60px {
  margin: 60px;
}

.padding-60px {
  padding: 60px;
}

.margin-top-55px {
  margin-top: 55px;
}

.margin-bottom-55px {
  margin-bottom: 55px;
}

.margin-left-55px {
  margin-left: 55px;
}

.margin-right-55px {
  margin-right: 55px;
}

.padding-top-55px {
  padding-top: 55px;
}

.padding-left-55px {
  padding-left: 55px;
}

.padding-right-55px {
  padding-right: 55px;
}

.padding-bottom-55px {
  padding-bottom: 55px;
}

.margin-55px {
  margin: 55px;
}

.padding-55px {
  padding: 55px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.margin-left-50px {
  margin-left: 50px;
}

.margin-right-50px {
  margin-right: 50px;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-left-50px {
  padding-left: 50px;
}

.padding-right-50px {
  padding-right: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.margin-50px {
  margin: 50px;
}

.padding-50px {
  padding: 50px;
}

.margin-top-45px {
  margin-top: 45px;
}

.margin-bottom-45px {
  margin-bottom: 45px;
}

.margin-left-45px {
  margin-left: 45px;
}

.margin-right-45px {
  margin-right: 45px;
}

.padding-top-45px {
  padding-top: 45px;
}

.padding-left-45px {
  padding-left: 45px;
}

.padding-right-45px {
  padding-right: 45px;
}

.padding-bottom-45px {
  padding-bottom: 45px;
}

.margin-45px {
  margin: 45px;
}

.padding-45px {
  padding: 45px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.margin-left-40px {
  margin-left: 40px;
}

.margin-right-40px {
  margin-right: 40px;
}

.padding-top-40px {
  padding-top: 40px;
}

.padding-left-40px {
  padding-left: 40px;
}

.padding-right-40px {
  padding-right: 40px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.margin-40px {
  margin: 40px;
}

.padding-40px {
  padding: 40px;
}

.margin-top-35px {
  margin-top: 35px;
}

.margin-bottom-35px {
  margin-bottom: 35px;
}

.margin-left-35px {
  margin-left: 35px;
}

.margin-right-35px {
  margin-right: 35px;
}

.padding-top-35px {
  padding-top: 35px;
}

.padding-left-35px {
  padding-left: 35px;
}

.padding-right-35px {
  padding-right: 35px;
}

.padding-bottom-35px {
  padding-bottom: 35px;
}

.margin-35px {
  margin: 35px;
}

.padding-35px {
  padding: 35px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.margin-left-30px {
  margin-left: 30px;
}

.margin-right-30px {
  margin-right: 30px;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-left-30px {
  padding-left: 30px;
}

.padding-right-30px {
  padding-right: 30px;
}

.padding-bottom-30px {
  padding-bottom: 30px;
}

.margin-30px {
  margin: 30px;
}

.padding-30px {
  padding: 30px;
}

.margin-top-25px {
  margin-top: 25px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-left-25px {
  margin-left: 25px;
}

.margin-right-25px {
  margin-right: 25px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-left-25px {
  padding-left: 25px;
}

.padding-right-25px {
  padding-right: 25px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}

.margin-25px {
  margin: 25px;
}

.padding-25px {
  padding: 25px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.padding-right-20px {
  padding-right: 20px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.margin-20px {
  margin: 20px;
}

.padding-20px {
  padding: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-left-15px {
  margin-left: 15px;
}

.margin-right-15px {
  margin-right: 15px;
}

.padding-top-15px {
  padding-top: 15px;
}

.padding-left-15px {
  padding-left: 15px;
}

.padding-right-15px {
  padding-right: 15px;
}

.padding-bottom-15px {
  padding-bottom: 15px;
}

.margin-15px {
  margin: 15px;
}

.padding-15px {
  padding: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-right-10px {
  margin-right: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.margin-10px {
  margin: 10px;
}

.padding-10px {
  padding: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-right-5px {
  margin-right: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.margin-5px {
  margin: 5px;
}

.padding-5px {
  padding: 5px;
}

/*浮动布局*/
.float-layout .float-left {
  float: left;
}

.float-layout .float-right {
  float: right;
}

.float-layout::after {
  display: block;
  content: "";
  clear: both;
}

/*弹性布局*/
.flex-layout {
  display: flex;
  display: -webkit-flex;
}

.flex-layout .flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.flex-layout .flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-layout .flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-layout .flex-item-1 {
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-layout .flex-item-2 {
  flex-basis: 0px;
  flex-grow: 2;
  flex-shrink: 2;
}

.flex-layout .flex-item-3 {
  flex-basis: 0px;
  flex-grow: 3;
  flex-shrink: 3;
}

.flex-layout .flex-item-4 {
  flex-basis: 0px;
  flex-grow: 4;
  flex-shrink: 4;
}

.flex-layout .flex-item-5 {
  flex-basis: 0px;
  flex-grow: 5;
  flex-shrink: 5;
}

.flex-layout .flex-item-6 {
  flex-basis: 0px;
  flex-grow: 6;
  flex-shrink: 6;
}

.flex-layout .flex-item-7 {
  flex-basis: 0px;
  flex-grow: 7;
  flex-shrink: 7;
}

.flex-layout .flex-item-8 {
  flex-basis: 0px;
  flex-grow: 8;
  flex-shrink: 8;
}

.flex-layout .flex-item-9 {
  flex-basis: 0px;
  flex-grow: 9;
  flex-shrink: 9;
}

.flex-layout .flex-item-10 {
  flex-basis: 0px;
  flex-grow: 10;
  flex-shrink: 10;
}

.flex-layout .flex-item-11 {
  flex-basis: 0px;
  flex-grow: 11;
  flex-shrink: 11;
}

.flex-layout .flex-item-12 {
  flex-basis: 0px;
  flex-grow: 12;
  flex-shrink: 12;
}

.flex-layout .flex-direction-row {
  flex-direction: row;
}

.flex-layout .flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-layout .flex-direction-column {
  flex-direction: column;
}

.flex-layout .flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-layout .flex-justify-content-flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-layout .flex-justify-content-flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-layout .flex-justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-layout .flex-justify-content-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-layout .flex-justify-content-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-layout .align-items-flex-start {
  align-items: flex-start;
}

.flex-layout .align-items-flex-end {
  align-items: flex-end;
}

.flex-layout .align-items-center {
  align-items: center;
}

.flex-layout .align-items-baseline {
  align-items: baseline;
}

.flex-layout .align-items-stretch {
  align-items: stretch;
}

.layout-left-min-width {
  min-width: 200px;
}

.layout-height-100 {
  font-weight: 500;
}

.box-sizing-content {
  box-sizing: content-box;
}

.box-sizing-border {
  box-sizing: border-box;
}

#admin-narbar-top {
  position: relative;
}

#admin-narbar-top .target-diaplay {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.2);
  z-index: 10;
}

.ban-bootsrap-a-style {
  text-decoration: none;
  color: black;
}

.ban-bootsrap-a-style:hover {
  text-decoration: none;
}

.ban-bootsrap-a-style:active {
  text-decoration: none;
}

.ban-bootsrap-a-style:link {
  text-decoration: none;
}

.z-index-top-max {
  z-index: 10000;
}

.z-index-top {
  z-index: 1000;
}

.z-index-center-man {
  z-index: 500;
}

.z-index-center {
  z-index: 250;
}

.z-index-bottom-max {
  z-index: 125;
}

.z-index-bottom {
  z-index: -75;
}

.z-index-down {
  z-index: -25;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.select-layout > option {
  height: 25px;
  padding: 5px 0;
  font-size: 14px;
}

.layout-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
