.admin-navbar {
  padding-left: 40px;
  list-style: none;
}

.admin-navbar > li {
  display: list-item;
}

.admin-navbar > li > ul {
  padding-left: 35px;
  list-style: none;
  display: none;
}

.admin-navbar > li > ul > li {
  list-style-position: inside;
}

.admin-navbar > li > ul > li a {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.admin-navbar > li > ul > li a:hover {
  font-size: 11px;
  color: darkorange;
}

.admin-navbar > li > a {
  padding-left: 5px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.admin-navbar > li > a img:first-of-type {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.admin-navbar > li > a span {
  padding-left: 5px;
}

.admin-navbar > li > a:hover {
  color: RGB(243, 191, 24);
}

.admin-navbar > li .narbar-active {
  background-color: rgba(38, 66, 116, 0.7);
  border-left: 5px solid RGB(52, 160, 206);
  color: white;
}

.admin-navbar a {
  color: gainsboro;
  font-size: 14px;
}

.admin-navbar a:hover {
  text-decoration: none;
}

.admin-navbar a:active {
  text-decoration: none;
}

.admin-navbar a:link {
  text-decoration: none;
}

.admin-navbar-down {
  position: absolute;
  left: 0px;
  bottom: 30px;
  font-size: 12px;
  display: block;
  width: 100%;
  padding-left: 40px;
}

.admin-narbar-top > ul {
  margin-bottom: 0px;
}

.admin-narbar-top > ul > li {
  padding: 20px;
  position: relative;
  float: left;
}

.admin-narbar-top > ul > li > ul {
  position: absolute;
  display: none;
  list-style: none;
  padding-left: 0px;
  top: 50px;
}

.admin-narbar-top > ul > li > ul li:first-of-type {
  border-radius: 5px;
  padding: 10px;
}

.admin-narbar-top > ul li:hover ul {
  display: block;
}
