.list .list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: 300;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-top: none;
}

.list .list-item:hover {
  background-color: rgba(38, 38, 38, 0.1);
}

.list .list-item:first-child {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list .list-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list .active {
  background-color: RGB(51, 122, 183);
  color: white;
}

.list .active:hover {
  background-color: RGB(51, 122, 183);
  color: white;
}

.list .danger {
  background-color: RGB(217, 83, 79);
  font-weight: 400;
  color: white;
}

.list .danger:hover {
  background-color: RGB(216, 30, 6);
  font-weight: 400;
  color: white;
}

.list-unstyle {
  list-style: none;
}
