@charset "UTF-8";
/*start **************** Global Variable */
/*end **************** Global Variable */
.navbar-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 500;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/* jquery cal it  */
.navbar-top + div {
  margin-top: 70px;
}

.navbar {
  padding: 5px;
  height: 70px;
  background-color: RGB(241, 242, 244);
  border-bottom-color: gainsboro;
  border-block-end-style: solid;
  border-block-end-width: 1px;
}

.navbar .navbar-content {
  padding-top: 0px;
  width: 64%;
  min-width: 1100px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.navbar .navbar-content .navbar-logo {
  /*坐标轴 logo 样式*/
  height: 70px;
  line-height: 70px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 275px;
}

.navbar .navbar-content .navbar-logo .logo-font {
  /*logo 文字样式 */
  font-size: 24px;
  font-weight: 600;
  padding-left: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.navbar .navbar-content .navbar-nav {
  height: 70px;
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 825px;
}

.navbar .navbar-content .navbar-nav .navbar-nav-list {
  float: right;
  margin-right: 15px;
}

.navbar .navbar-content .navbar-nav .navbar-nav-list a {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  color: RGB(44, 44, 44);
  font-weight: 500;
  font-size: 14px;
}

/* jumbotron  2018/9/20 Jx  kicker */
.jumbotron {
  height: 420px;
  width: 100%;
  background: linear-gradient(to right, RGB(178, 25, 48), #333, RGB(59, 35, 35), RGB(80, 6, 6));
  margin-bottom: 30px;
}

.jumbotron .title {
  color: white;
  font-weight: 300;
  padding-top: 150px;
  text-align: center;
}

.jumbotron .title small {
  font-size: 22px;
  letter-spacing: 2px;
}

.jumbotron .jumbotron-content {
  position: relative;
  top: 0px;
  z-index: 3;
  text-align: center;
}

.jumbotron .jumbotron-content button, .jumbotron .jumbotron-content a {
  margin-top: 35px;
  width: 240px;
}

.jumbotron::after {
  content: '';
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../Resources/Img/Grid.png") repeat center center;
  opacity: 0.4;
  z-index: 125;
  height: 420px;
}

.dotted-line {
  width: 100%;
  border-bottom: 1px solid gainsboro;
  margin: 5px auto;
}

.exam-notice {
  margin-top: 35px;
  display: flex;
  display: -webkit-flex;
}

.exam-notice img {
  width: 74px;
}

.exam-notice figure {
  max-height: 230px;
  overflow: hidden;
}

.exam-notice figure img {
  display: block;
  margin: 0 auto;
}

.exam-notice > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 275px;
}
