@charset "UTF-8";
/* 颜色背景主题*/
.bc-grey {
  background: RGB(64, 64, 64);
}

.br-white {
  background-color: #fff;
}

.border-module-grey {
  border-color: rgba(38, 38, 38, 0.7);
  border-width: 1px;
  border-style: solid;
}

.border-radius-20 {
  border-radius: 20;
}

.border-radius-19 {
  border-radius: 19;
}

.border-radius-18 {
  border-radius: 18;
}

.border-radius-17 {
  border-radius: 17;
}

.border-radius-16 {
  border-radius: 16;
}

.border-radius-15 {
  border-radius: 15;
}

.border-radius-14 {
  border-radius: 14;
}

.border-radius-13 {
  border-radius: 13;
}

.border-radius-12 {
  border-radius: 12;
}

.border-radius-11 {
  border-radius: 11;
}

.border-radius-10 {
  border-radius: 10;
}

.border-radius-9 {
  border-radius: 9;
}

.border-radius-8 {
  border-radius: 8;
}

.border-radius-7 {
  border-radius: 7;
}

.border-radius-6 {
  border-radius: 6;
}

.border-radius-5 {
  border-radius: 5;
}

.border-radius-4 {
  border-radius: 4;
}

.border-radius-3 {
  border-radius: 3;
}

.border-radius-2 {
  border-radius: 2;
}

.border-radius-1 {
  border-radius: 1;
}

.shadow {
  box-shadow: 2px 2px 2px 2px grey;
}
