.title-student-name {
  font-size: 17px;
  font-weight: 600;
}

.title-student-name.title-shadow {
  text-shadow: 2px 2px 2px rgba(38, 38, 38, 0.5);
}

.word-one {
  font-size: 16px;
}

.title-name-little {
  font-size: 14px;
  font-weight: 300px;
  letter-spacing: 1px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-10 {
  font-size: 10px;
}

.text-red {
  color: red;
}
