.padding-15 {
  padding: 15px;
}

.margin-15 {
  margin: 15px;
}

.margin-15-down {
  margin-top: -27px;
}

.margin-bottom-15-down {
  margin-bottom: -15px;
}

.margin-top-65px {
  margin-top: 65px;
}

.margin-bottom-65px {
  margin-bottom: 65px;
}

.margin-left-65px {
  margin-left: 65px;
}

.margin-right-65px {
  margin-right: 65px;
}

.padding-top-65px {
  padding-top: 65px;
}

.padding-left-65px {
  padding-left: 65px;
}

.padding-right-65px {
  padding-right: 65px;
}

.padding-bottom-65px {
  padding-bottom: 65px;
}

.margin-top-60px {
  margin-top: 60px;
}

.margin-bottom-60px {
  margin-bottom: 60px;
}

.margin-left-60px {
  margin-left: 60px;
}

.margin-right-60px {
  margin-right: 60px;
}

.padding-top-60px {
  padding-top: 60px;
}

.padding-left-60px {
  padding-left: 60px;
}

.padding-right-60px {
  padding-right: 60px;
}

.padding-bottom-60px {
  padding-bottom: 60px;
}

.margin-top-55px {
  margin-top: 55px;
}

.margin-bottom-55px {
  margin-bottom: 55px;
}

.margin-left-55px {
  margin-left: 55px;
}

.margin-right-55px {
  margin-right: 55px;
}

.padding-top-55px {
  padding-top: 55px;
}

.padding-left-55px {
  padding-left: 55px;
}

.padding-right-55px {
  padding-right: 55px;
}

.padding-bottom-55px {
  padding-bottom: 55px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-bottom-50px {
  margin-bottom: 50px;
}

.margin-left-50px {
  margin-left: 50px;
}

.margin-right-50px {
  margin-right: 50px;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-left-50px {
  padding-left: 50px;
}

.padding-right-50px {
  padding-right: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.margin-top-45px {
  margin-top: 45px;
}

.margin-bottom-45px {
  margin-bottom: 45px;
}

.margin-left-45px {
  margin-left: 45px;
}

.margin-right-45px {
  margin-right: 45px;
}

.padding-top-45px {
  padding-top: 45px;
}

.padding-left-45px {
  padding-left: 45px;
}

.padding-right-45px {
  padding-right: 45px;
}

.padding-bottom-45px {
  padding-bottom: 45px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.margin-left-40px {
  margin-left: 40px;
}

.margin-right-40px {
  margin-right: 40px;
}

.padding-top-40px {
  padding-top: 40px;
}

.padding-left-40px {
  padding-left: 40px;
}

.padding-right-40px {
  padding-right: 40px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.margin-top-35px {
  margin-top: 35px;
}

.margin-bottom-35px {
  margin-bottom: 35px;
}

.margin-left-35px {
  margin-left: 35px;
}

.margin-right-35px {
  margin-right: 35px;
}

.padding-top-35px {
  padding-top: 35px;
}

.padding-left-35px {
  padding-left: 35px;
}

.padding-right-35px {
  padding-right: 35px;
}

.padding-bottom-35px {
  padding-bottom: 35px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.margin-left-30px {
  margin-left: 30px;
}

.margin-right-30px {
  margin-right: 30px;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-left-30px {
  padding-left: 30px;
}

.padding-right-30px {
  padding-right: 30px;
}

.padding-bottom-30px {
  padding-bottom: 30px;
}

.margin-top-25px {
  margin-top: 25px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-left-25px {
  margin-left: 25px;
}

.margin-right-25px {
  margin-right: 25px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-left-25px {
  padding-left: 25px;
}

.padding-right-25px {
  padding-right: 25px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-left-20px {
  padding-left: 20px;
}

.padding-right-20px {
  padding-right: 20px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-left-15px {
  margin-left: 15px;
}

.margin-right-15px {
  margin-right: 15px;
}

.padding-top-15px {
  padding-top: 15px;
}

.padding-left-15px {
  padding-left: 15px;
}

.padding-right-15px {
  padding-right: 15px;
}

.padding-bottom-15px {
  padding-bottom: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-right-10px {
  margin-right: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-right-5px {
  margin-right: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.padding-left-right-normal {
  padding-left: 15px;
  padding-right: 15px;
}

.margin-left-right-normal {
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  .float-layout .float-left {
    float: left;
  }
  .float-layout .float-right {
    float: right;
  }
  .float-layout::after {
    display: block;
    content: "";
    clear: both;
  }
}

.bc-img-grey {
  background: linear-gradient(to bottom, RGB(213, 215, 216), white);
}

.bc-clr-grey-little {
  background-color: rgba(246, 246, 246, 0.9);
}

.bc-clr-white {
  background-color: white;
}

.border-thumali {
  border-radius: 10px;
  border: 1px solid rgba(38, 38, 38, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(38, 38, 38, 0.5);
}

.dispaly-center {
  display: block;
  margin: 0 auto;
}

.follows-item {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.follows-item b {
  font-size: 20px;
  font-weight: 600;
}

.follows-item span {
  font-weight: 500;
  font-size: 13px;
}

.capsule {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(7, 17, 27, 0.8);
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  padding-left: 15px;
  padding-right: 15px;
}

.capsule:hover {
  background-color: rgba(38, 38, 38, 0.05);
}

.height-value-900 {
  min-height: 900px;
}

.layout-vedio {
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
  margin-top: 10px;
}
