@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

/* css内容区域最小的大小 */
/* css内容区域大小 */
.navbar-normal {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.2);
}

.navbar-normal > .container {
  margin: 0 auto;
}

.navbar-normal > .container > .navbar-normal-brand {
  display: inline-block;
  height: 70px;
}

.navbar-normal > .container > .navbar-normal-brand > img {
  vertical-align: middle;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navbar-normal > .container > .navbar-normal-brand > img:hover {
  transform: scale(1.2, 1.2) rotate(300deg);
}

.navbar-normal > .container > .navbar-normal-brand > .navbar-normal-brand-title {
  display: inline-block;
  font-size: 19px;
  line-height: 70px;
  height: 70px;
  font-weight: 300;
  text-indent: 10px;
  text-shadow: 4px 3px 8px rgba(7, 17, 27, 0.5);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navbar-normal > .container > .navbar-normal-brand > .navbar-normal-brand-title:hover {
  transform: scale(1.2, 1.2) rotate(300deg);
}

.navbar-normal > .container > .navbar-normal-navlist {
  display: block;
  float: right;
  line-height: 70px;
  height: 70px;
}

.navbar-normal > .container > .navbar-normal-navlist > .navbar-normal-list-left {
  float: left;
}

.navbar-normal > .container > .navbar-normal-navlist > .navbar-normal-list-right {
  float: right;
}

.navbar-normal > .container > .navbar-normal-navlist a {
  padding-left: 15px;
  padding-right: 15px;
  color: RGB(38, 38, 38);
}

.navbar-normal > .container > .navbar-normal-navlist a:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar-normal > .container > .navbar-normal-navlist a:active {
  text-decoration: none;
}

.navbar-normal > .container > .navbar-normal-navlist .nav-border-capsule {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(7, 17, 27, 0.8);
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
}

.navbar-normal > .container > .navbar-normal-navlist .nav-border-capsule:hover {
  background-color: rgba(38, 38, 38, 0.05);
}

.navbar-normal > .container:after {
  display: block;
  content: "";
  clear: both;
}

.img-hover-func {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.img-hover-func:hover {
  transform: scale(1.2, 1.2) rotate(300deg);
}

.nav-list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-list a {
  padding-left: 15px;
  padding-right: 15px;
  transition-duration: 0.8s;
  color: #1f1d1d;
  font-weight: 400;
  font-size: 16px;
}

.nav-list a:hover {
  text-decoration: none;
  color: black;
}

.video-title {
  font-weight: 600;
  font-size: 18px;
  padding-top: 7px;
}

.video-title > .video-title-small {
  font-size: 14px;
  color: rgba(7, 17, 27, 0.2);
  font-weight: 300;
}

.title-small-grey {
  font-size: 14px;
  color: rgba(38, 38, 38, 0.7);
  font-weight: 300;
}

.title-Splitter {
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300px;
  border-bottom: 1px solid rgba(38, 38, 138, 0.1);
}
